.repositories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.repository-wrapper{
  width: 67%;
}
.repo-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
}
i {
  color: #6a6c6eb7;
}
.repo {
  width: 49%;
  border: solid 1.7px #ccc;
  border-radius: 5px;
  padding:30px 0px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; 
}
.repo-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 5%;
}
.repo-info, .repo-stats{
margin-left: 20px;
}
.repo-security{
 border: 1px solid #ccc;
 color: rgb(64, 63, 63);
 border-radius: 10px;
 margin-left: 15px;
 font-size: 14px;
 padding: 0px 7px;
 font-weight: 600;
}
.title-wrapper{
  display: flex;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.5rem;
  max-height: 1.5rem;
  text-decoration: none;
  list-style: none;
}
.repo-name {
  color: #0366d6;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  
}

.description {
  font-size: 14px;
  color: rgb(90, 89, 89);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5rem;
  max-height: 3rem;
}
.subitem {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 10px;
}

/* Media queries */
/* media queries */
@media (max-width: 900px) { 
 
  }
  @media (max-width: 600px) { 
    .repo {
      width: 100%; 
    }
    .repository-wrapper{
      width: 100%;
    }
      }